<template lang="pug">
#app
  img(src="static/logo.png")
  router-view
</template>
<style scoped lang="stylus">
// use the webpack alias "~vuetify-settings" to access vars like elevations or colors. See node_modules/vuetify/src/stylus/settings for omplete list
@import '~vuetify-settings/_colors';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $green.darken-2;
  margin-top: 60px;
}
</style>
<style src="vuetify/dist/vuetify.css">
/* Including vuetify css on top level component in unscoped style */
</style>

<script lang="ts" src="./app.ts">
// typescript and single file components does not play nice yet. Until it does, the fix is to seperate the script into its one file
</script>


